/* src/pages/Home.css */

.Home {
  padding: 20px;
}

.Home h1 {
  font-size: 24px;
  color: #333;
}

.main-content {
  margin-left: 350px;
  margin-top: 150px;
  width: calc(100% - 350px);
  /* Additional styling as needed */
}

.post-card {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.post-card h3 {
  margin-top: 0;
}

.post-card p {
  margin-bottom: 0;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.like-button,
.comment-button {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 10px;
  background-color: rgb(204, 202, 243);
}

.like-button:hover,
.comment-button:hover {
  background-color: #f0f0f0;
}
