/* src/pages/Notifications.css */

.NotificationsPage {
 /* Gray background */
    min-height: 94vh; /* Ensure page takes up full height */
    padding: 20px;
  }
  
  .NotificationsPage h1 {
    font-size: 24px;
    color: #333;
  }  