/* src/pages/Notifications.css */

.EditPage {
    /* Gray background */
       min-height: 94vh; /* Ensure page takes up full height */
       padding: 20px;
     }
     
     .EditPage h1 {
       font-size: 24px;
       color: #333;
     }  